---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import WorksList from "@/components/WorksList.astro";
---

<Layout title="Work">
  <Section title="Work">
    <WorksList />
  </Section>
</Layout>
