---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---
<html lang="en" class="!overflow-x-hidden">
  <head>
    <BaseHead title={title} description={description} />
    <script is:inline>
  const applyTheme = () => {
    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      return 'light';
    })();

    if (theme === 'light') {
      document.documentElement.classList.remove('dark');
    } else {
      document.documentElement.classList.add('dark');
    }
  };

  applyTheme();
  document.addEventListener('astro:after-swap', applyTheme);
</script>

  </head>

  <body class="bg-white dark:bg-black text-zinc-900 dark:text-white tracking-wide !overflow-x-hidden transition-colors duration-300">
    <header class="fixed top-0 w-screen z-[9999]"><Navbar /></header>
    <main class="pt-28 md:pt-20"><slot /></main>
    <footer class="w-screen bottom-0 overflow-x-hidden"><Footer /></footer>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/DotGothic16-Regular.ttf') format('truetype'); /* OTFの場合は format('opentype') */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
  }

  @font-face {
    font-family: 'VCRFont';
    src: url('/fonts/VCRosdNEUE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'MyCustomFont', 'VCRFont', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  }
</style>
